---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostsList from "../../components/PostsList.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => !post.data.planned);
---

<BaseLayout title="Todas las publicaciones">
  <h1 class="text-black dark:text-white pb-10 text-4xl">Todas las publicaciones</h1>
  <!-- Horizontal -->
  <!-- <div class="bg-white/5 flex w-full h-[130px] my-5 rounded-lg overflow-hidden">
    <ins
      class="adsbygoogle w-full h-full"
      style="display:block"
      data-ad-client="ca-pub-1650152292222065"
      data-ad-slot="3776216297"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
    <script>
      window.addEventListener("load", function () {
        (adsbygoogle = window.adsbygoogle || []).push({});
      });
    </script>
  </div> -->
  <PostsList posts={posts} />
</BaseLayout>
