---
import MdiWeb from "~icons/mdi/web";
import MdiTwitter from "~icons/mdi/twitter";
import MdiGithub from "~icons/mdi/github";
import MdiRss from "~icons/mdi/rss";

import PostsList from "../components/PostsList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import SeriesList from "../components/SeriesList.astro";

const posts = await getCollection("blog");

const sortedPosts = posts
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => !post.data.planned)
  .slice(0, 3);

const featuredPosts = posts.filter((post) => post.data.featured);

const featuredSeries = (await getCollection("series")).filter((s) => s.data.featured);
---

<BaseLayout>
  <div class="space-y-10">
    <div class="space-y-4">
      <h1 class="text-4xl text-black dark:text-white font-black">
        Hola! 👋 <span
          class="underline underline-offset-2 decoration-fuchsia-600 dark:decoration-fuchsia-400"
          >Soy Orlando</span
        >
      </h1>
      <p>
        Bienvenido a mi mundo como desarrollador frontend, donde me especializo en <span class="font-black">React</span> y destaco
        en <span class="font-black">CSS</span>, <span class="font-black">HTML</span> y <span
          class="font-black">JavaScript</span
        >. Tengo pasión por aprender y me encanta experimentar con nuevas tecnologías. Con un ojo
        meticuloso para los detalles, pongo todo mi corazón y alma en cada proyecto que emprendo.
        Únete a mí en este viaje mientras comparto mis conocimientos, descubrimientos y experiencias
        en el mundo siempre cambiante del desarrollo frontend. Juntos, sumerjámonos en el
        emocionante reino de React y descubramos las infinitas posibilidades que ofrece.
      </p>
      <div class="space-x-1 space-y-1">
        <a
          href="https://orlandomm.me"
          target="_blank"
          class="inline-flex items-center justify-center space-x-2 py-2 px-3 rounded-md bg-slate-300 hover:bg-slate-400 dark:bg-slate-800 dark:hover:bg-slate-700"
        >
          <MdiWeb />
          <span>Web</span>
        </a>
        <a
          href="https://twitter.com/orloxx23"
          target="_blank"
          class="inline-flex items-center justify-center space-x-2 py-2 px-3 rounded-md bg-slate-300 hover:bg-slate-400 dark:bg-slate-800 dark:hover:bg-slate-700"
        >
          <MdiTwitter />
          <span>Twitter</span>
        </a>
        <a
          href="https://github.com/orloxx23"
          target="_blank"
          class="inline-flex items-center justify-center space-x-2 py-2 px-3 rounded-md bg-slate-300 hover:bg-slate-400 dark:bg-slate-800 dark:hover:bg-slate-700"
        >
          <MdiGithub />
          <span>GitHub</span>
        </a>
        <a
          href="/rss.xml"
          target="_blank"
          class="inline-flex items-center justify-center space-x-2 py-2 px-3 rounded-md bg-slate-300 hover:bg-slate-400 dark:bg-slate-800 dark:hover:bg-slate-700"
        >
          <MdiRss />
          <span>RSS</span>
        </a>
      </div>
    </div>
    {
      featuredPosts.length > 0 && (
        <div class="space-y-5">
          <h1 class="text-3xl text-black dark:text-white">Publicaciones destacadas</h1>
          <PostsList posts={featuredPosts} />
        </div>
      )
    }
    <div class="space-y-5">
      <div class="flex items-center justify-between space-x-2">
        <h1 class="text-3xl text-black dark:text-white">Últimas publicaciones</h1>
        <a
          href="/blog"
          class="inline-flex items-center justify-center py-0.5 px-3 bg-purple-600 hover:bg-purple-800 rounded-full text-sm text-white"
          >Ver todas</a
        >
      </div>
      <PostsList posts={sortedPosts} />
    </div>
    {
      featuredSeries.length > 0 && (
        <div class="space-y-5">
          <div class="flex items-center justify-between space-x-2">
            <h1 class="text-3xl text-black dark:text-white">Series destacadas</h1>
            <a
              href="/series"
              class="inline-flex items-center justify-center py-0.5 px-3 bg-purple-600 hover:bg-purple-800 rounded-full text-sm text-white"
            >
              Ver todas
            </a>
          </div>
          <SeriesList series={featuredSeries} />
        </div>
      )
    }
  </div>
</BaseLayout>
